<%= form_for [@url_user, @timesheet] do |f| %>
  <% if @timesheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timesheet.errors.count, "error") %> prohibited this timesheet from being saved:</h2>

      <ul>
      <% @timesheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :timein %><br>
    <%= f.time_select :timein, {ampm: true} %>
  </div>
  <div class="field">
    <%= f.label :timeout %><br>
    <%= f.time_select :timeout, {ampm: true} %>
  </div>
  <div class="field">
    <%= f.label :project %><br>
      <%= f.select :project, options_from_collection_for_select(@projects, 'name', 'name') %>
  </div>
  <div class="field">
    <%= f.label "Description of Work" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
